<div class="container">
  <h2 class="heading">Editing Book</h2>

  <%= render partial: "layouts/form", locals:{book:@book} %>

</div>

<div class="links">
  <div class="link">
    <%= link_to "Show", book_path(@book) %>
  </div>
  <span>|</span>
  <div class="link">
    <%= link_to "Back", books_path %>
  </div>
</div>
