<%= @book.title %>
<%= @book.body %>
<div class="links">
  <div class="link">
    <%= link_to "Edit", edit_book_path(@book) %>
  </div>
  <span>|</span>
  <div class="link">
    <%= link_to "Back", books_path %>
  </div>
</div>
