<p class="show-title">
    <strong>Title:</strong><%= @book.title %>
</p>

<p class="show-body">
  <strong>Body:</strong><%= @book.body %>
</p>

<div class="links">
  <div class="link">
    <%= link_to "Edit", edit_book_path(@book) %>
  </div>
  <span>|</span>
  <div class="link">
    <%= link_to "Back", books_path %>
  </div>
</div>
