/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*text-decoration: none;*/
  list-style: none;
}

a:link {
  color: black;
}

a:visited {
  color: gray;
}

a:hover {
  color: white;
  background: black;
}


body {
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/*top*/
.top-container {
  line-height: 18px;
}

/*index*/
.container {
  padding-bottom: 20px;
}

.heading {
  padding-bottom: 20px;
}

table {
  width: 100%;
}

td {
  padding: 5px 0;
}

.td a {
  padding: 0 10px;
}

.content {
  padding-bottom: 10px;
}

/*show*/
.link {
  display: inline-block;
  padding: 0 5px;
}

.show-title,
.show-body {
  margin: 33px;
}
